* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.461);
    width: 30%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.SignForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.input_field {
    height:2.5rem;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: 0.2s;
}

.input_field:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

button {
    border-radius: 10px;
    height: 50%;
    border: none;
    background: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #0056c7;
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

