.SignForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 50px;
}
input{
    border-radius: 10px;
}

.background{
    left: 50%;
    background-color: grey;
    width: 30%;
    border-radius: 15px;
    box-shadow:;

}
