header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 1%;
    border-bottom: 2px solid #80FFD7;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container {
    flex: 1;
}

.logo {
    height: 45px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.bank-title-button {
    flex: 2;
    text-align: center;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
