header{
    display:block;
    margin:0px;
    position: fixed;
    top: none;
    left: 0;
    bottom: 0;
    padding:2%;
    background-color: rgba(0, 0, 0, 0.461);
    position: fixed;
    width:100%;
    border-top: solid;
    border-top-color : #80FFD7;
    .logo{
        display:block;
        height:30px;
    }
    .icons{
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        .menu{
            padding-right: 2.5%;
            float:none;
            justify-content: space-evenly;
            display:flex;
            width:100%;
            flex-direction: row;
        }
    }
}

@media (min-width: 950px) {
    header{
        border-bottom: solid;
        top: 0;
        border-bottom-color : #80FFD7;
        border-top-color : rgba(0, 0, 0, 0);
        padding:1%;
        bottom:auto;
        height:70px;
        z-index: 1000;
        .logo{
            object-fit: contain;
            height:45px;
            width:auto;
        }

        .icons{
            display:flex;
            flex-direction: row;
            width:100%;
            .menu{
                display:flex;
                justify-content: space-between;
                width:45%;
                float:right;
            }
        }
    }
}
